<nz-layout>
  <nz-header>HEADER</nz-header>
  <nz-layout>
    <nz-sider nz-resizable>
      <nz-resize-handle nzDirection="right" nzCursorType="grid">
        <div class="sider-resize-line"></div>
      </nz-resize-handle>
      <app-sidebar [side]="SidebarSideEnum.LEFT" [id]="SidebarSideEnum.LEFT" [iconSet]="leftIconsSet"/>
    </nz-sider>
    <nz-content>CONTENT</nz-content>
    <nz-sider>
      <app-sidebar [side]="SidebarSideEnum.RIGHT" [id]="SidebarSideEnum.RIGHT" [iconSet]="rightIconsSet"/>
    </nz-sider>
  </nz-layout>
  <nz-footer>
    <app-sidebar [side]="SidebarSideEnum.BOTTOM" [id]="SidebarSideEnum.BOTTOM" [iconSet]="bottomIconSet"/>
  </nz-footer>
</nz-layout>
